<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Page</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body class="blog-page">
    <header>
      <div class="logo">Alan Mathew</div>
      <nav>
        <a href="index.html">Home</a>
        <a href="portfolio.html">Portfolio</a>
        <a href="resume.html">Resume</a>
        <a href="blog.html">Blog</a>
        <a href="contact.html">Contact</a>
      </nav>
    </header>
    <main>
      <h1>Blog</h1>
      <div id="blog-container" class="blog-container"></div>
    </main>
    <footer>© 2023 Alan Mathew | All Rights Reserved</footer>
    <script src="../src/blog.js"></script>
  </body>
</html>
