<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Alan Mathew's Personal Website</title>
        <link rel="stylesheet" href="../style.css">
    </head>
    <body class = "home-page">
        <header>
            <div class="logo"> Alan Mathew</div>
            <nav>
                <a href="index.html">Home</a>
                <a href="portfolio.html">Portfolio</a>
                <a href="resume.html">Resume</a>
                <a href="blog.html">Blog</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>
        <main>
            <div class="about-content">
                <div class="left">
                    <h3>Hello, I'm</h3>
                    <h1>Alan Mathew</h1>
                    <h3>Web Developer & Designer</h3>
                    <p>Welcome to my personal website! <br>I'm passionate about creating beautiful and functional web experiences.</br>
                    Involved in Hack4Impact, a non-profit organization focused on providing 
                    <br>tech solutions for social good. Feel free to explore my work!</p>
                    <button class="btn"><a href="portfolio.html">View My Portfolio</a></button>
                </div>
                <div class ="right">
                    <img 
                        src="../images/home-page.png" 
                        alt="Alan Mathew"
                        width="350"
                        height="525"
                    />
            </div>
        </main>
        <footer>© 2023 Alan Mathew | All Rights Reserved</footer>
    </body>
</html>