<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume Page</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body class ="resume-page">
    <header>
      <div class="logo">Alan Mathew</div>
      <nav>
        <a href="index.html">Home</a>
        <a href="portfolio.html">Portfolio</a>
        <a href="resume.html">Resume</a>
        <a href="blog.html">Blog</a>
        <a href="contact.html">Contact</a>
      </nav>
    </header>
    <main>
      <h1>Resume</h1>
      <div class="resume">
        <section>
          <h2>Education</h2>
          <p>Bachelor of Science in Computer Science</p>
          <p>California Polytechnic State University, San Luis Obispo</p>
          <p>Expected: May,2029</p>
        </section>
        <section>
          <h2>Experience</h2>
          <p>Web Developer at Brilliant Consulting</p>
          <p>Summer of 2025</p>
        </section>
        <section>
          <h2>Skills</h2>
          <ul>
            <li>HTML, CSS, JavaScript</li>
            <li>Python 3</li>
            <li>Node.js</li>
            <li>Nodemailer.js</li>
            <li>MongoDB</li>
            <li>Express.js</li>
          </ul>
        </section>
        <section>
          <h2>Projects</h2>
          <p>
            Brilliant Consulting Web App: A comprehensive website for a tech
            consulting firm, featuring a Login/Signup system, appointment
            scheduler, payment gateway, and automated email notifications.
            Integrated user and admins dashboards for seamless management. Built
            with HTML, CSS, JavaScript, Node.js, Express.js, and MongoDB.
          </p>
        </section>
        <section>
          <h2>Contact</h2>
          <p>Email: alan@example.com</p>
          <p>Phone: (916) 750-5525</p>
          <p>
            <a href="https://www.linkedin.com/in/alan-mathew-6b14a7318"
              >LinkedIn</a
            >
          </p>
          <p><a href="https://github.com/AlanGMathew2006">GitHub</a></p>
        </section>
      </div>
    </main>
    <footer>© 2023 Alan Mathew | All Rights Reserved</footer>
  </body>
</html>
